/SolidCross.class
/SolidDiamond.class
/SolidSquare.class
/SpriteRenderer.class
/Sprite.class
/SolidCircle.class
/SolidAura.class
/Circle.class
/Cross.class
/Diamond.class
/Square.class
/Sprite$Layer.class
