/Sprite.class
/HealthBonusSprite.class
/Drawer.class
/SpriteMap.class
/SpriteMap$Type.class
/SpriteMap$Label.class
/SpriteRenderer.class
/SolidSprite.class
/SolidSquare.class
/SolidCross.class
/SolidDiamond.class
/DefaultSprite.class
/SpriteBox.class
