/Special.class
/StarBurst$Style.class
/StarBurst.class
/WaveSpecial.class
/StarBurstSpecial$Style.class
/StarBurstSpecial.class
/WaveSpecial$1.class
/WaveSpecial$1$1.class
/WaveSpecial$Wave.class
/WaveSpecial$Wave$1.class
